<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        TolaPress
    </a>
    <ul class="navbar-nav mr-auto">
        <% categories.forEach(cat => { %>
            <li class="nav-item">
                <a class="nav-link" href="/category/<%= cat.slug %>">
                    <%= cat.title %>
                </a>
            </li>
        <% }); %>
    </ul>
    <a style="float: right;" class="text-white" href="/admin/articles">
        <i class="fa-solid fa-user"></i>
    </a>
</nav>